/* semantic color variables for this project */
:root {
  --color-background: #8bbd78;
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: #ffffff;
  --color-text: #ffffff;

  --section-gap: 160px;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  /* font-family: 'UhBeeKang-Ja'; */
  /* font-family: 'MangoDdobak-B'; */
  /* font-family: 'UhBeecharming'; */
  /* font-family: 'UhBeeSe_hyun'; */
  /* font-family: 'IM_Hyemin-Bold'; */
  font-family: 'Dovemayo_gothic';
  /* font-family: 'HakgyoansimGeurimilgiTTF-R'; */
  /* font-family: 'Ownglyph_ParkDaHyun'; */
  /* font-family: 'HakgyoansimDunggeunmisoTTF-B'; */
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body { 
  background-image: url('/img/main.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right; 
} */