/*
font-family: 'bitbit'; 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif KR', serif;
font-family: 'Orbit', sans-serif;
*/
@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Orbit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dawning+of+a+New+Day&family=Mr+De+Haviland&display=swap');
@font-face{
  font-family:'bitbit';
  src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}

/*
font-family: 'Cedarville Cursive', cursive;
font-family: 'Dawning of a New Day', cursive;
font-family: 'Mr De Haviland', cursive;
*/

.content-text {
  font-size: 0.8rem;
}